[include]
  path = ~/.gitconfig.local
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[core]
  pager = less
  excludesfile = ~/.gitignore
  excludesfile = ~/dotfiles/.gitignore
  autocrlf = input
  editor = vim
[merge]
  keepBackup = false
  tool = vimdiff
  ff = only
[pull]
  rebase = true
[mergetool]
  keepBackup = false
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[alias]
  st = status
  br = branch
  ci = commit
  ck = checkout
  cp = cherry-pick
  addp = add -p
  diffc = diff --cached
  diffg = difftool --tool=vimdiff --no-prompt
  logg = log --graph --date=rfc --pretty=format:'%Cgreen%h %cd %ad %Cblue%cn %Creset%s'
  loga = log --graph --all --color --pretty='%x09%h %ae %cn%x09%s %Cred%d%Creset'
  logs = log --stat
  logp = log -p
  wc = whatchanged
  re = remote -v
[push]
	default = matching
