[include]
  path = ~/.gitconfig_local
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[core]
  pager = less
  excludesfile = ~/dotfiles/.gitignore_global
  autocrlf = input
  editor = vim
[diff]
  algorithm = histogram
[merge]
  keepBackup = false
  tool = vimdiff
  ff = only
[pull]
  rebase = true
[mergetool]
  keepBackup = false
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false
[alias]
   f = fetch --prune
  st = status
  br = branch
  ci = commit
  ck = checkout
  cp = cherry-pick
  wc = whatchanged
  re = remote -v
  pull = pull --prune
  addp = add -p
  dif = icdiff
  diffc = diff --cached
  difc = icdiff --cached
  diffg = difftool --tool=vimdiff --no-prompt

  # %x09    Tab
  # %H      Commit Hash(full)
  # %h      Commit Hash(short)
  # %an     Author Name
  # %ae     Author Email
  # %ad     Author Date
  # %cn     Comitter Name
  # %ce     Comitter Email
  # %cd     Comitter Date
  # %s      message
  # %d      branch/tag
  # %C(red bold) start color
  #    [color] = [normal, black, red, green, yellow, blue, magenta, cyan, white]
  #    [style] = [bold, dim, ul, blink, reverse]
  # %C(reset)  reset color
  logp = log -p
  logs = log --stat
  logg = log --graph --date=format:'%y-%m-%d(%a) %T' --pretty=format:'%h %C(green)%cd %C(blue)%ad %C(green)%cn %C(blue)%an %C(green)%ce %C(blue)%ae %C(reset)%s'
  loga = log --graph --all --color --pretty='%x09%h %s %C(red)%d%C(reset)'
[push]
  default = matching
