[submodule ".vim/typescript-vim"]
	path = .vim/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".vim/Dockerfile.vim"]
	path = .vim/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/yajs.vim"]
	path = .vim/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule ".vim/vim-go"]
	path = .vim/vim-go
	url = https://github.com/fatih/vim-go.git
