<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name=description content="demo">
<title>DEMO | labs.jxck.io</title>

<style>
</style>

<h1>Test</h1>


<script src=https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js></script>
<script src=https://fb.me/react-15.3.0.min.js></script>
<script src=https://fb.me/react-dom-15.3.0.min.js></script>
<script src=https://unpkg.com/redux@latest/dist/redux.min.js></script>
<script src=https://unpkg.com/react-redux@latest/dist/react-redux.min.js></script>

<script src=//cdn.socket.io/socket.io-1.4.0.js></script>
<script src=main.js></script>
<script>

</script>
